html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a, a:hover {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1E1E1E;
  color: #DCDCDC;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: #569CD6;
}

.hljs-link {
  color: #569CD6;
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: #4EC9B0;
}

.hljs-number,
.hljs-class {
  color: #B8D7A3;
}

.hljs-string,
.hljs-meta-string {
  color: #D69D85;
}

.hljs-regexp,
.hljs-template-tag {
  color: #9A5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  color: #DCDCDC;
}

.hljs-comment,
.hljs-quote {
  color: #57A64A;
  font-style: italic;
}

.hljs-doctag {
  color: #608B4E;
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
  color: #9B9B9B;
}

.hljs-variable,
.hljs-template-variable {
  color: #BD63C5;
}

.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
  color: #9CDCFE;
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
  font-family:'Monospace';
}*/
.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #D7BA7D;
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: 1rem auto;
  line-height: 1.4em;
  letter-spacing: .015rem;
  color: #111;
}

img {
  max-width: 100%;
  height: auto;
}

.list-bullets {
  margin-bottom: 1rem;
}

.list-bullets li {
  margin-left: 1em;
}

.list-bullets li::before {
  content: "\2022";
  color: #db0a5b;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.list-bullets .list-bullets {
  margin-left: 1em;
  margin-top: .5em;
}

ol.list-bullets li {
  counter-increment: li;
}

ol.list-bullets li::before {
  content: counter(li);
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

ol.list-bullets li ol {
  counter-reset: li;
}

p {
  margin-bottom: 1rem;
}

blockquote {
  margin-bottom: 2rem;
}

pre {
  margin-bottom: 2rem;
}

.time,
.tags {
  font-size: 1.3rem;
  font-style: italic;
  margin-bottom: .5rem;
}

a {
  color: #db0a5b;
  transition: color .15s ease-out;
}

a:hover, a:focus {
  color: #940DFF;
  transition: color .2s ease-out;
}

.navbar,
.content,
.footer {
  margin: auto;
  padding: 0 1rem;
}

@media (min-width: 60rem) {
  .navbar,
.content,
.footer {
    max-width: 110rem;
  }
}

.content {
  margin: 0 auto 4rem;
}

.page-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 1.1;
}

.post-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.1;
  display: inline-block;
}

.content h2 {
  font-size: 2.2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.content h3 {
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.content figure {
  margin-bottom: 3rem;
}

.content figure img {
  display: block;
  margin: auto;
}

.content figure figcaption {
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.content p > code,
.content li > code {
  padding: .2em .4em;
  margin: 0;
  font-size: 1.2rem;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.content blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}

.content strong {
  font-weight: 600;
}

.ratio-16-9 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  margin-bottom: 1rem;
  height: 0;
}

.ratio-16-9 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
