$primary: #6500E5;
$link: $primary;
$link-hover:#940DFF;

body {
  font-family: Helvetica, sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #000;
}
img {
  max-width: 100%;
}